<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Final Project</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static',  filename='css/styles.css') }}" rel="stylesheet">
    </head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
    <a class="navbar-brand" href="#page-top">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
    <li class="nav-item"><a class="nav-link" href="#contact">GitHub</a></li>
    </ul>
    </div>
    </div>
    </nav>
        
    <!-- Masthead-->
    <header class="masthead">
    <div class="container">
    <!-- <div class="masthead-subheading">Life, Wealth and Perceptions – The World’s Happiness in Focus</div>
    <div class="masthead-subheading">On a scale from 1 to 10, How happy are you?</div> -->

    </div>
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('plot1') }}">Happiness Questionnaire</a> -->
    <!-- <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('plot2') }}"test</a> --> 
    <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('plot3') }}">Happiness Index & Correlations</a>
</div>
    </header>

    <!-- Contact-->
    <section class="page-section" id="contact">
    <div class="container">
    <div class="text-center">
    <h2 class="section-heading text-uppercase">The World’s Happiness in Focus</h2>
    <h3 class="section-subheading text-muted">https://github.com/</h3>          
    </div>
    </section>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Template Main JS File -->
    <script src="{{ url_for('static',  filename='js/scripts.js') }}"></script>
</body>

</html>